@import "src/assets/style/scss/_variables";
.base-btn{
  background: linear-gradient(to left, $color-primary,$color-primary-two);
  outline: none;
  border: none;
  padding: 0.5rem 4rem !important;
}
.rounded-btn{
  border-radius: 3.125rem;
}
.big-padding{
  padding: 1rem 2.5rem;
}
.submit-btn{
  padding: 1rem;
  border-radius: 3.125rem;
  margin: 1rem 0 1.5rem 0;
  border: none;
  font-size: 1.4rem;
  @media (max-width: 1024px) and (min-width: 768px){
    padding: .7rem;
    border-radius: 2.125rem;
    margin: .7rem 0 1.2rem 0;
    font-size: 1.1rem;
  }
  @media (max-width: 768px) {
    padding: .4rem;
    border-radius: 1.125rem;
    margin: .3rem 0 .9rem 0;
    border: none;
    font-size: 1rem;
  }
}

.cancel-btn {
  background: none;
  color: #76236C;
  border: 1px solid #76236C !important;
  padding: 1rem;
  border-radius: 3.125rem;
  margin: 1rem 1rem 1.5rem 1rem;
  font-size: 1.4rem;
  @media (max-width: 1024px) and (min-width: 768px){
    padding: .7rem;
    border-radius: 2.125rem;
    margin: .7rem 0 1.2rem 0;
    font-size: 1.1rem;
  }
  @media (max-width: 768px) {
    padding: .4rem;
    border-radius: 1.125rem;
    margin: .3rem 0 .9rem 0;
    border: none;
    font-size: 1rem;
  }

  &:hover {
    background:transparent !important;
    color: $color-primary;
  }
}
.rounded-btn{
  border-radius: 3.125rem;
}
.transparent-btn{
  background:transparent;
  color: $color-primary;
  border: 1px solid $color-primary;
  &:hover {
    background: linear-gradient(to left, $color-primary,$color-primary-two);
    border: 1px solid transparent;
    color: #fff;
  }
}
.all-add{
  min-width: 170px;
  padding: 1rem 3rem !important;
  margin: 1rem 0;
}