@import "src/assets/style/scss/_mixin";
@import "src/assets/style/scss/_variables";
.show-user{
  @include styleViewList;
  min-height: 70vh;
  .heading{
    margin-bottom: 3.125rem;
  }
  .hold-fields{
    margin-bottom: 4rem;
  }
  .hold-user-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    img{
      @include image;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}

