@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
.image-uploader {
  height: 162px;
  width: 100%;
  border: 2px dashed $color-primary;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  flex-direction: column;
  .file-title {
    font-weight: 400;
    font-size: 18px;
    color: $color-primary;
    margin-bottom: 16px;
  }

  .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  .btn-file {
    z-index: -2;
    display: none !important;
  }
}
.img-wrapper{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  @include flexCenter(center)
}
.hold-img{
  position: relative;
  img{
    @include image
  }

  span {
    position: absolute;
    top:-5px;
    left: -5px;
    background: $color-danger;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 0;
    line-height: 0.6;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1000;
  }
}
.invalid-feedback{
  display: block;
}
::v-deep{
  .custom-file-label,.custom-file-input{
    height: 100% !important;
  }
}
