@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
.image-uploader {
  height: 162px;
  width: 100%;
  border: 2px dashed $color-primary;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  .file-title {
    font-weight: 400;
    font-size: 18px;
    color: $color-primary;
    margin-bottom: 16px;
  }

  .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  .btn-file {
    z-index: -2;
    display: none !important;
  }
}
.img-wrapper{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  @include flexCenter(center)
}
.hold-img{
  img{
    @include image
  }
}