@import "./scss/_variables";
@import "./scss/__componants";
@import "./scss/__global";
@import "./scss/_mixin";



.content{
  min-height: 100vh;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

::v-deep{
  table{
    border-collapse: collapse;
    border-radius: 1.2rem;
    overflow: hidden;
    min-height: 500px;
    .dropdown-menu{
      transform: translate3d(147px, 31px, 0px) !important;
    }
  }
  .thead-gradient{
    background: linear-gradient(to left, $color-primary,$color-notify);
    border-bottom: none;
    color: #fff;
  }

}
.flex-center{
  @include flexCenter(center)
}

// style scroll bar general
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-notify;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(118, 35, 108, 0.75);
}
.btn-primary.disabled, .btn-primary:disabled{
  background-color: rgba(118, 35, 108, 0.75)  !important;
  border-color: rgba(118, 35, 108, 0.75) !important;
}

// check box global
.hold-permissions{
  display: block;
  //max-height: 275px;
  overflow: auto;
  background: #fff;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #BEBEBE;
}
.permission-item {
  display: block;
  cursor: pointer;
}
::v-deep {
  .custom-control-input:checked~.custom-control-label::before {
    background: $color-primary;
    border-color: $color-primary;
    box-shadow: none;
  }
  .custom-control {
    cursor: pointer;
    @media (max-width: 768px) {
      font-size: .8rem;
    }
    &:lang(ar) {
      padding-right: 1.5rem;
    }
  }
  :lang(ar) {
    .custom-control-label {
      cursor: pointer;
      &::before {
        right: -1.5rem;
        left: unset;
      }

      &::after {
        right: -1.5rem;
        left: unset;
      }
    }
  }
}
