@import "../../../src/assets/style/scss/_variables";
.choose-student{
  background-image: url("../../../src/assets/images/bg/login.png");
  min-height: 100vh;
  background-position: top center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .copyright{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .content {
    min-width: 40%;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 5px #dbdbdb;
    border-radius: 5rem;
    padding: 3rem;
    z-index: 1;
    min-height: auto ;
    @media (max-width: 768px) {
      width: 70%;
    }
  }
  .my-children{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .icon{
    width: 75px;
    height: 75px;
    background: #FEEFD4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .my-children-paragraph{
    font-size: 1.5rem;
    color: $color-primary;
    margin: .5rem 0 1.5rem 0;
  }
  .student{
    .hold-student{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 200px;
      padding: 1.1rem;
      background: rgba(238, 229, 237, 0.72);
      border-radius: 2rem;
      margin: 0 auto;
      cursor: pointer;
      min-height: 230px;
    }
    .student-image{
      width: 100px;
      height: 100px;
      object-fit: contain;
      object-position: center;
      border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .student-name,.student-class{
      margin: 0;
    }
    .student-name{
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 600;
      color: #000;
    }
    .student-class{
      color: #3086CD;
      font-weight: 600;
    }
  }
}
