@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.add-edit-school-form {
  @include styleViewList;
  min-height: 70vh;
}

.hold-field {
  position: relative;
  label{
    margin: 0.7rem 0.7rem 1rem;
  }
  .show-date {
    margin: 0;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 20%;
    background: transparent;
    transform: translateY(20%);
    font-size: 14px;
    line-height: 1.4;
    color: #555;
  }
}

::v-deep {
  .hold-field {
    position: relative;

    label {
      margin: 0.7rem 0.7rem 1rem;
    }
  }
  .group-type {
    .col-form-label {
      color: $color-primary !important;
    }
  }

  .custom-radio {
    display: inline-block;
    margin-top: 1.5rem;
  }

  .mx-datepicker {
    width: 100%;
    border-radius: 3.125rem;
  }

  .mx-input {
    padding: 1.3rem 2rem;
    border-radius: 3.125rem;
    background: transparent;
    z-index: 2;
    position: relative;
  }
}
