@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.add-edit-country-form {
  @include styleViewList;
  min-height: 70vh;
}
textarea{
  padding: 1.3rem 1rem 2rem;
  border-radius: 3.125rem;
  border: 1px solid #BEBEBE;
  color: #76236C;
}
