@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
.inner-routes{
  @include styleViewListHome;
  .taps{
    color: $color-paragraph-alt;
    display: flex;
    border-bottom: 1px solid #8C8C8C;
    max-width: 100%;
    overflow: auto;
    .tap{
      padding: 0 5rem 2rem 5rem;
      cursor: pointer;
      transition: all ease-in-out .2s;
      border-bottom: 2px solid transparent;
      font-weight: bold;
      font-size: 1.2rem;
      &:first-of-type{
        padding: 0 0 2rem 0;
      }
    }
    .active{
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
      position: relative;
      transition: all ease-in-out .2s;
      &:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-top: 20px solid transparent;
        border-bottom: 20px solid $color-primary;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .content{
    margin-top: 3.375rem;
  }
}

.supervisor-section{
  position: relative;
  top: -5rem;
}
.hold-img-profile{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  img{
    @include image
  }
}
.hold-info{
  text-align: center;
  p{
    margin: 0;
  }
  .name{
    margin: .5rem 0;
    color: $color-primary;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .role{
    color: $color-notify;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .school-name{
    color: $color-paragraph;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem 0;
  }
}
.profile-card{
  padding: 4rem 0 2rem 0;
  height: 100%;
}
.stats{
  background: #fff;
  border: 1px solid #F4EDF3;
  border-radius: 1.5rem;
  padding: 2.5rem;
  margin-top: 3rem;
  .heading{
    margin-bottom: 1rem;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .item-link{
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid rgba(164, 163, 163, 0.2);
    margin-top: 1rem;
    a{
      color: $color-primary;
      font-weight: bold;
      text-decoration: none;
      padding-top: 1rem;
    }
  }
}
