@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
.inner-routes{
  @include styleViewListHome;
  .taps{
    color: $color-paragraph-alt;
    display: flex;
    border-bottom: 1px solid #8C8C8C;
    .tap{
      padding: 0 5rem 2rem 5rem;
      cursor: pointer;
      transition: all ease-in-out .2s;
      border-bottom: 2px solid transparent;
      font-weight: bold;
      font-size: 1.2rem;
      &:first-of-type{
        padding: 0 0 2rem 0;
      }
    }
    .active{
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
      position: relative;
      transition: all ease-in-out .2s;
      &:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-top: 20px solid transparent;
        border-bottom: 20px solid $color-primary;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .content{
    margin-top: 3.375rem;

  }
}