@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.add-edit-question-form {
  @include styleViewList;
     min-height: 70vh;
}

.action-holder {
  width: 100%;
  @include flexCenter(flex-end);
}

::v-deep {
  .hold-field{
    label{
      color: $color-primary;
      display: block;
      margin: 0 0.7rem 0.7rem 0;
    }
    .custom-selectBox{
      display: block;
      padding: 0 1.3rem;
      border-radius: 3.125rem;
      border: 1px solid #BEBEBE;
      color: $color-primary;
    }
  }
  .vs__dropdown-toggle {
    overflow: hidden;
  }
}