@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.add-edit-question-form {
  @include styleViewList;
}

.action-holder {
  width: 100%;
  @include flexCenter(space-between);
}

.qustion-review {
  margin-top: 3rem;

  h6 {
    color: $color-light-gray;
    font-weight: 400;
  }

  p {
    color: $color-primary;
    font-weight: 500;
    margin-bottom: 3rem;
  }
}
.question_img{
  width: 240px;
  height: 160px;
  object-fit: contain;
  object-position: center;
  margin: 1rem 0;
  border-radius: 1rem;
}
