::v-deep {
  .custom-control-input:checked~.custom-control-label::before {
    background: $color-primary;
    border-color: $color-light-gray;
    box-shadow: none;
  }
  .custom-control {
    @media (max-width: 768px) {
      font-size: .8rem;
    }
    &:lang(ar) {
      font-family: "DiodrumArabic", sans-serif;
      padding-right: 1.5rem;
    }
  }
  &:lang(ar) {
    .custom-control-label {
      color: $color-light-gray;
      font-weight: bold;
      font-size: 0.9rem;
      &::before {
        right: .5rem;
        left: unset;
      }

      &::after {
        right: -1.5rem;
        left: unset;
      }
    }
  }
}

::v-deep {
  .multiple-container {
    .custom-control-inline {
      padding: 0;
      margin-bottom: 15px;

      &:lang(ar) {
        padding: 0 !important;
        margin: 0;
        margin-left: 1rem;
        margin-bottom: 15px;

      }
    }

    .custom-control-label {
      // background: #F8E6FF;
      border: 1px solid $color-gray-dark;
      border-radius: 40px;
      padding: 8px 24px;
      font-size: 16px;
      color: $color-light-gray !important;
      font-weight: bold;
      cursor: pointer;

      &::after,
      &::before {
        display: none;
      }
    }

    .custom-control-input:checked~.custom-control-label {
      background-color: $color-light;
      color: $color-primary;
      font-weight: 700;
      border-color: $color-primary;
    }
  }
}
