label {
  //color: #76236C;
  display: block;
}

::v-deep {
  .is-invalid {
    .vs__dropdown-toggle {
      border-color: #dc3545;
    }

    .vs__open-indicator {
      fill: #dc3545;
    }
  }

  .vs__dropdown-toggle {
    min-height: 50px;
    height: 55px;

    border-radius: 3.125rem;
  }
  .vs__actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
  }
}

.required-flag {
  position: relative;
  &::after {
    content: " * ";
    font-size: 1.2rem;
    position: absolute;
    top: -5px;
    // left: -10px;
    color: #dc3545;
  }
}
