@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.add-edit-user-form {
  @include styleViewList;

  h3 {
    font-weight: bold;
  }
}

.action-holder {
  width: 100%;
  @include flexCenter(flex-end);
}
::v-deep {
  .group-type {
    margin-right: .2rem;
    .col-form-label {
      color: $color-primary !important;
    }
    .custom-radio{
      &:first-of-type{
        padding-right: .2rem;
      }
    }
  }

  .custom-radio {
    display: inline-block;
    margin-top: 1.5rem;
  }
}
