.login{
  background-image: url("../../src/assets/images/bg/login.png");
  min-height: 100vh;
  background-position: top center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content{
    min-height: auto ;
  }
}
