.login{
  background-image: url("../../src/assets/images/bg/login.png");
  min-height: 100vh;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}