@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.add-edit-country-form {
  @include styleViewList;
  min-height: 70vh;
}
.list-group{
  margin-top: 2rem;
  min-height: 200px;
  background: #eee;
  padding: 0;
}
.mission-name{
  font-weight: 700;
}
.mission-date{
  margin-left: 1rem;
}
::v-deep{
  label{
    color: #76236C;
    margin: 0.7rem 0.7rem 1rem;
    font-weight: bold;
  }
}
