@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.add-edit-role-form {
  @include styleViewList;
  min-height: unset;
  padding: 38px;
  h3 {
    font-weight: bold;
  }
}

.action-holder {
  width: 100%;
  @include flexCenter(flex-end);
}

.heading-permission {
  color: $color-primary;
}
.hold-permissions {
  display: block;
  max-height: 275px;
  overflow: auto;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #bebebe;
}

.permission-item {
  display: block;
  cursor: pointer;
}
::v-deep {
  // Handle over All
  .required-flag {
    margin: 0 !important;
    padding-bottom: 7px;
  }

  .invalid-feedback {
    position: absolute;
  }
  .submit-btn {
    padding: 11px !important;
    min-width: 195px;
  }

  .btn {
    min-width: 195px;
  }

  //

  .custom-control-input:checked ~ .custom-control-label::before {
    background: $color-primary;
    border-color: $color-primary;
    box-shadow: none;
  }
  .custom-control {
    cursor: pointer;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
    &:lang(ar) {
      padding-right: 1.5rem;
    }
  }
  :lang(ar) {
    .custom-control-label {
      cursor: pointer;
      &::before {
        right: -1.5rem;
        left: unset;
      }

      &::after {
        right: -1.5rem;
        left: unset;
      }
    }
  }
}
.buttons {
  height: 100%;
  @include flexCenter(center);
}
