@import "src/assets/style/scss/_mixin";
@import "src/assets/style/scss/_variables";
.show-mission{
  @include styleViewList;
  min-height: 70vh;
  .heading{
    margin-bottom: 3.125rem;
  }
  .heading-content{
    margin: 1.5rem 0;
  }
  .hold-fields{
    margin-bottom: 4rem;
  }
  .divider{
    &:last-of-type{
      border: none;
    }
  }
}