@import "_variables";
@import "_mixin";

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
* {
  //padding: 0;
  //margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.custom-container {
  width: 90%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: auto;
  }
}
.btn-add {
  img {
    margin-left: 1rem;
  }
}
.show-details {
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-show-heading;
}
.hold-btns-form {
  width: 100%;
  margin-top: 3rem;
  @include flexCenter(flex-end);
}
.hold-field {
  label {
    color: $color-primary;
    display: block;
    margin: 0 0.7rem 0.7rem 0;
  }
  .custom-selectBox {
    display: block;
    padding: 0 1.3rem;
    border-radius: 3.125rem;
    border: 1px solid #bebebe;
    color: $color-primary;
  }
  textarea{
    color: #76236C !important;
    font-weight: bold !important;
  }

}
.divider {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #d1d1d1;
}

.cursor-pointer {
  cursor: pointer;
}
