$color-primary:#76236C;
$color-primary-two: #E25199;
$color-notify: #58C6F2;
$color-paragraph: #000000;
$color-paragraph-alt: #828282;
$color-danger:#FF5252;
$color-ligth:#FAFAFF;
$color-extra-ligth:#E3E5E4;
$color-ligth-dark:#F4FBFC;
$color-dark:#303952;
$color-gray-dark:#303952;
$color-light:#F8E6FF;
$color-admin-role: #FED557;
$color-border: rgba(233, 233, 233, 0.44)
