@import "src/assets/style/scss/_variables";
label{
  color: $color-primary;
  margin: .7rem 0 !important;
}
.custom-text-area{
  color: $color-primary;
  border: 1px solid #BEBEBE;
  resize: none;
  border-radius:1.875rem;
  min-height: 90px;
  padding: 1.3rem;
}
.fa-asterisk{
  margin-left: .5rem;
}
