@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.list {
  @include styleViewList;
  margin: 1.5rem 0;
  .blocked-user {
    color: #721c24;
    border-radius: 18px;
    background-color: #f8d7da;
    padding: 2px 40px;
  }
  .header,
  .search-sort {
    @include flexCenter(space-between);

    .list-of-item {
      @include flexCenter(space-between);

      .name-of-item {
        color: $color-paragraph;
        font-size: 1.8rem;
        margin: 0 0 0 2.5rem;
        font-weight: bold;
      }

      .no-of-item {
        background: $color-notify;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        @include flexCenter(center);
        align-items: flex-start !important;
        line-height: 1.8;
      }
    }

    .controls {
      @include flexCenter(space-between);
    }
  }

  .header {
    margin-bottom: 3.125rem;
  }

  .search-sort {
    @include flexCenter(space-between);

    .search {
      position: relative;

      .search-input {
        @extend %search-sort-search-input;
      }

      .search-input::placeholder {
        color: $color-primary;
        font-weight: bold;
      }

      img {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        width: 1.5rem;
      }
    }

    .sort {
      @extend %search-sort;
      width: 19rem;
      @include flexCenter(space-between);
      background: #fff;

      img {
        width: 1.5rem;
      }

      select {
        width: 100%;
        cursor: pointer;
        padding: 0.3rem 1rem 0.8rem;
        border: none;
        background: transparent;
        color: $color-primary;
        font-weight: bold;
        outline: none;

        option {
          padding: 0.3rem;
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }

  .hold-controls {
    position: relative;

    .dropdown-menu {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.hold-table {
  margin-top: 2rem;

  .hold-image {
    @include flexCenter(center);
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .hold-image-school {
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .image-in-table {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
  }

  .image-school-in-table {
    @include image;
    object-fit: cover;
  }

  .path,
  .role {
    background: $color-primary;
    color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 0.2rem;
    font-size: 0.8rem;
  }

  .role {
    @include flexCenter(center);
    text-align: center;
  }
}

.pointer {
  cursor: pointer;
}

.question-image-show {
  width: 145px;
  height: 110px;
  object-position: center;
  object-fit: contain;
}
.empty-state {
  color: $color-primary;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sortIcon {
  display: inline-flex;
  margin-right: 0.5rem;
  margin-top: 0;
  img {
    cursor: pointer;
    width: 12px;
    height: 12px;
  }
}

::v-deep {
  td {
    font-weight: bold;
  }

  tr.b-table-empty-row {
    background-color: white !important;
  }

  ul.dropdown-menu {
    li {
      a {
        color: $color-primary;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}
.questionDifficulty {
  display: block;
  width: 60%;
  text-align: center;
  border-radius: 18px;
  padding: 0.3rem 0;
}
.easy {
  background: #d4edda;
  color: #155724;
}
.medium {
  background: #fff3cd;
  color: #856404;
}
.hard {
  background: #f8d7da;
  color: #721c24;
}
.disableButton {
  cursor: not-allowed;
  background: #ececec;
}
