@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
.list{
  @include styleViewList;
  margin-top: 1.5rem;
  .header,.search-sort{
    @include flexCenter(space-between);
    .list-of-item{
      @include flexCenter(space-between);
      .name-of-item{
        color: $color-paragraph;
        font-size: 1.625rem;
        margin: 0 0 0 2.5rem;
      }
      .no-of-item{
        background: $color-notify;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        @include flexCenter(center)
      }
    }
    .controls{
      @include flexCenter(space-between)
    }
  }
  .header{
    margin-bottom: 3.125rem;
  }
  .search-sort{
    @include flexCenter(space-between);
    .search{
      position: relative;
      .search-input{
        @extend %search-sort;
      }
      img{
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
      }
    }
    .sort{
      @extend %search-sort;
      width: 19rem;
      @include flexCenter(space-between);
      background: #fff;
      select{
        width: 100%;
        cursor: pointer;
        padding: .5rem 1rem;
        border: none;
        background: transparent;
        color: $color-primary;
        outline: none;
        option{
          padding: .3rem;
        }
      }
    }
  }
}
.hold-table{
  margin-top: 2rem;
  .hold-image{
    @include flexCenter(center)
  }

  .hold-image-school{
    width: 126px;
    height: 58px;
  }
  .image-in-table{
    width: 60px;
    height: 60px;
    border-radius:50%;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
  }
  .image-school-in-table{
    @include image;
    object-fit: cover;
  }
  .path,.role{
    background: $color-primary;
    color: #fff;
    border-radius: 1rem;
    padding: .2rem .7rem;
    margin-left: .2rem;
  }
  .role{
    @include flexCenter(center);
    text-align: center;
  }
}
