@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
.all-content{
  padding: 1.3125rem;
}
.custom-rounded{
  border-radius: 3.125rem !important;
}
.flexContent{
  text-align: right;
  .add-title{
    color: $color-primary;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .add-question{
    padding: 2rem;
    border-radius: .5rem;
    background: #F9F9F9;
  }
}
.fa-envelope-circle-check{
  color: $color-primary
}
.controls{
  @include flexCenter(space-between)
}
::v-deep {
  .group-type {
    margin: .8rem 0 0 0;
    .col-form-label {
      color: $color-primary !important;
    }
    .custom-radio{
      &:first-of-type{
        padding-right: .2rem;
      }
    }
  }

  .custom-radio {
    display: inline-block;
    margin-top: .5rem;
    color: $color-primary
  }
}
.action-holder{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
::v-deep{
  .question-label{
    label{
      margin-bottom: 0;
    }
  }
  .custom-file-label {
    border-radius: 30px;
    font-size: 14px;
    height: 50px;
    margin: 0;
    top: -0.5rem;
    span {
      line-height: 2.2;
    }
  }
  .custom-file-label::after {
    content: "اضافه" !important;
    background-color: purple;
    color: #fff;
    height: 80%;
    width: 100px;
    border-radius: 1rem;
    margin-top: 5px;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: auto;
    left: 0;
  }
  .text-field{
    label{
      margin: .5rem;
    }
  }

}
