@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
.all-content{
  padding: 2.3125rem;
}
.custom-rounded{
  border-radius: 3.125rem !important;
}
.flexContent{
  @include flexCenter(center);
  .hold-icon{
    margin-bottom: 1rem;
  }
  .confirm-message{
    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .3rem;
  }
  .confirm-message-question{
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.fa-envelope-circle-check{
  color: $color-primary
}
.controls{
  @include flexCenter(space-between)
}
