.custom-pagination {
  align-items: center;

  ::v-deep .page-item {
    &.active {
      display: inline-flex;
      position: relative;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $color-primary;
      margin: 0 6px;
      color: white;
      .page-link {
        background-color: $color-primary;
        color: white;
      }
    }

    .page-link {
      border: none;
      color: $color-primary;
      background-color: transparent;

      border-radius: 50%;
      margin: 0 6px;
      width: 35px;
      height: 35px;
      font-size: 1rem;
      font-weight: 700;
      &:focus {
        box-shadow: none;
      }
    }
  }
 
}
.per-page-select {
  width: fit-content !important;
  border-radius: 40px;
  background-color: $color-extra-ligth !important;
  color: $color-primary;
  border: none;
  height: 30px;
  padding: 0px 30px !important;
  font-weight: 700;
}
