.custom-pagination {
  align-items: center;

  ::v-deep .page-item {
  
    &.active {
      .page-link {
        background-color: $color-primary;
        color: white;
      }
    }

    .page-link {
      border: none;
      color: #76236C;
      background-color: transparent;
      border-radius: 50%;
      margin: 0 6px;
      width: 30px;
      height: 30px;
      font-size: 1rem;
      font-weight: 700;
      padding: 0 0 0.5rem;
      &:focus {
        box-shadow: none;
      }
    }
  }
 
}
.per-page-select {
  width: fit-content !important;
  border-radius: 40px;
  background-color: #F1F1F1 !important;
  color: $color-primary;
  border: none;
  // height: 30px;
  padding: 0px 30px 8px !important;
  font-weight: bold;
}
