::v-deep {
  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(2.1rem);
  }
  .custom-control-label {
    &::before {
      height: 2rem;
      width: 4.125rem;
      border-radius: 50px;
    }
    &::after {
      width: calc(2rem - 4px);
      height: calc(2rem - 4px);
      border-radius: 1.625rem;
      right: -0.5rem !important;
    }
  }
}
