@import "src/assets/style/scss/_variables";
.title{
  font-size: 1.3rem;
  color: $color-heading;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.subtitle,.item{
  font-size: 1.3rem;
  color: $color-primary;
  font-weight: 700;
}
.item{
  margin-left: 1rem;
}