@import "src/assets/style/scss/_mixin";
@import "src/assets/style/scss/_variables";
.show-group {
  @include styleViewList;
  .heading {
    margin-bottom: 3.125rem;
  }
  .hold-fields {
    margin-bottom: 4rem;
  }
}
.divider {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #d1d1d1;
}
.bottom {
  margin-top: 3.125rem;
}
.sub-title {
  font-size: 1.3rem;
  color: #76236c;
  font-weight: 700;
}

::v-deep .custom-schools-table {
  min-height: auto !important;
  .header,
  .search-sort,
  .search {
    display: none !important;
  }
}
