.quantity{
    font-weight: 700;
    font-size: 2rem;
    color: $color-primary;
}

.label{
    font-size: .875rem;
    color: $color-paragraph-alt;
}

.text-field{
    margin-bottom: 0 !important;
}


::v-deep .update-button{
    width: 100%;
}

.holder {
    min-height:100vh !important;
    padding-top: 8rem !important;
}

.label {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

::v-deep {
    .btn {
        font-weight: bold !important;
        padding-bottom: 1rem !important;
        border-radius: 100px;
    }
}