@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";
header {
  background-image: url("../../../assets/images/bg/header-bg.png");
  min-height: 20vh;
  background-size: 130% 105%;
  background-repeat: no-repeat;
  .top {
    padding: 2.125rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 148px;
      height: 148px;
      cursor: pointer;
      img {
        @include image;
        object-position: right;
      }
    }
    .notification-info-admin {
      display: flex;
      align-items: center;
      .notification {
        position: relative;
        margin: 0 0 0 2rem;
        padding-left: 2rem;
        .bill {
          width: 35px;
          height: 40px;
          img {
            @include image;
          }
        }
        .no-of-notification {
          background: $color-notify;
          color: $color-primary;
          padding: 0.25rem 0.625rem;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
        }
        &:after {
          content: "";
          display: block;
          width: 1px;
          height: 25px;
          background: $color-border;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .info-admin {
        display: flex;
        align-items: center;
        margin: 0 1rem 0 0;
        .name-role {
          text-align: left;
          margin-left: 1rem;
          font-size: 1.2rem;
          .name {
            margin-bottom: 0.5rem;
            color: #fff;
            font-weight: bold;
          }
          .role {
            color: $color-admin-role;
            margin-bottom: 0;
          }
        }
        .user-image {
          width: 58px;
          height: 58px;
          background-color: #f1e8f0;
          border-radius: 50%;
          overflow: hidden;
          @include flexCenter(center);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
          i {
            color: $color-primary;
            font-family: "Font Awesome 6 Free" !important;
            font-size: 25px;
          }
        }
      }
    }
  }
  .top-supervisor {
    padding: 2.125rem 0 5rem 0;
  }
  .nav {
    position: relative;
    top: -0.8rem;
    .nav-item {
      padding: 1.875rem 0;
      margin-left: 2rem;
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      img {
        margin-right: 0.8rem;
        transition: all ease-in-out 0.3s;
      }
      .dropdown-item-list {
        position: absolute;
        z-index: 2;
        right: 0;
        left: 0;
        bottom: 1.5rem;
        transform: translateY(100%);
        color: $color-primary;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.57);
        border-radius: 1.56rem;
        border: 1px solid #eaeaea;
        min-width: 270px;
        display: none;
        opacity: 0;
        transition: all ease-in-out 0.3s;
        max-height: 400px;
        overflow: hidden;
        ul {
          max-height: 320px;
          overflow-y: auto;
          width: 90%;
          margin: 1rem auto;
        }
        li {
          padding: 1rem 0 1rem 0;
          position: relative;
          z-index: 2;
          border-bottom: 1px solid #eaeaea;
          transition: all ease-in-out 0.3s;
          &:last-of-type {
            border-bottom: none;
          }
          &:hover {
            color: rgba(118, 35, 108, 0.85);
          }
        }
      }
      &:hover {
        img {
          transform: rotate(-180deg);
        }
        .dropdown-item-list {
          display: block;
          opacity: 1;
        }
      }
    }
  }
  .nav-supervisor {
    position: relative;
    //top: -4.5rem;
  }
  ::v-deep .btn.dropdown-toggle {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    &:hover,
    &:focus,
    &:active,
    &:focus-visible,
    &:focus-within,
    &:visited {
      background: transparent;
      border: none;
      color: #fff;
      outline: none;
      box-shadow: none;
    }
  }
  .routes-school-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //li{
    //  margin-left: 2.5rem;
    //}
  }
}

::v-deep .nav-item.b-nav-dropdown.dropdown .dropdown-toggle::after {
  display: none !important;
}

::v-deep {
  .dropdown-container {
    .dropdown-menu {
      background-color: rgba(
        255,
        255,
        255,
        1
      ); /* Adjust alpha (last value) as needed */
      padding: 0;
      width: 255px;
      overflow: hidden;
      border-radius: 20px 20px 0 0;

      li {
        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(118, 35, 108, 0.24);
        }
        a {
          padding: 1.5rem;
          font-size: 1.2rem;
          color: #000000;
          font-weight: bold;
          transition: 0.4s;
        }
      }
    }
  }
}

.collapsed .nav .nav-item {
  margin: 0 !important;
  padding: 0 !important;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}
