@import "src/assets/style/scss/_variables";
@import "src/assets/style/scss/_mixin";

.list {
  @include styleViewList;
  margin: 1.5rem 0;

  .header,
  .search-sort {
    @include flexCenter(space-between);

    .list-of-item {
      @include flexCenter(space-between);

      .name-of-item {
        color: $color-paragraph;
        font-size: 1.8rem;
        margin: 0 0 0 2.5rem;
        font-weight: bold;
      }

      .no-of-item {
        background: $color-notify;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        @include flexCenter(center);
        align-items: flex-start !important;
        line-height: 1.8;
      }
    }
  }

  .header {
    margin-bottom: 3.125rem;
  }
}

.info {
  background: #FFE0B8;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0.7rem 0.8rem 0;
  border-radius: 1.75rem;
  color: $color-primary;
  span {
    font-weight: bold;
    font-size: 1.2rem;
    img {
      width: 24px;
      margin-left: .5rem;
    }
  }
}
.mission-header{
  background: linear-gradient(to left, $color-primary,$color-notify);
  color: #fff;
  padding: .7rem;
  border-radius: 1.2rem 1.2rem 0 0;
  margin: 1rem 0 0 0;
  font-weight: bold;
}
::v-deep{
  .custom-switch .custom-control-input:checked~.custom-control-label::after{
    transform: translateX(-0.75rem);
  }
  .custom-switch .custom-control-input:disabled:checked~.custom-control-label::before{
    background-color: $color-primary;
  }
}
.list-group{
  padding: 0;
}
.list-group-item{
  padding: 1.5rem;
  border: 0;
  background: #F4EDF3;
}
.odd{
  background: #fff;
}
.sort{
  color: $color-primary;
  background : rgba(118, 35, 108, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  span{
    text-align: center;
    width: 100%;
    display: block;
    padding: 0 0 0.5rem 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
.custom-border-left{
  border-left: 1px solid #DFDFDF;
}
.itemDisabled{
  background: rgba(244, 237, 243, 0.4);
}
.mission-started{
  background: rgba(255, 224, 184, 0.5);
}
.mission-name{
  color: $color-primary;
  font-weight: bold;
}
.detail{
  background: transparent;
  border:1px solid $color-primary;
  border-radius: 1.50rem;
  padding: .5rem 1.8rem .8rem 1.8rem;
  color: $color-primary;
  font-weight: bold;
}
